# Virtual environment
venv/
env/
.venv/

# Python cache/bytecode
__pycache__/
*.pyc
*.pyo

# Django
*.sqlite3
db.sqlite3
media/

# Environment variables / secrets
.env

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db